.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 1px;
  justify-content: center;
}

.game-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d8;
}

.game-grid:hover {
  background-color: wheat;
  cursor: pointer;
}
